<footer class="py-5">
    <div class="container text-center">
        <h2 class="my-3"><a href="{% url 'status' %}">{{ config.COMPANY_NAME }}</a></h2>
        <p class="lead">
            {{ config.COMPANY_MISSION }}
        </p>
        <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link" href="{{ config.COMPANY_URL }}">Company Site</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'status' %}">Status Page</a></li>
        </ul>
    </div>
</footer>