{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Page title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="icon" href="favicon.ico">
</head>
<body>
<div class="">
    {% include "partial/nav.html" %}

    <section class="py-5">
        <div class="container">
            <h2 class="mb-4 text-center">Current Incidents</h2>
            {% if active %}
                {% include "partial/incidents.html" with incidents=active%}
            {% else %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">All services running!</h4>
                    <p>There currently no known incidents with our systems</p>
                </div>
            {% endif %}
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <h2 class="text-center">Current Service Status</h2>
            {% include "partial/services.html" with services=services %}
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <h2 class="mb-4 text-center">Past Incidents</h2>
            {% if closed %}
            {% include "partial/incidents.html" with incidents=closed %}
            {% else %}
            <div class="alert alert-secondary" role="alert">
                <h4 class="alert-heading">Good News ...</h4>
                <p>There are not past incidents!</p>
            </div>
            {% endif %}

        </div>
    </section>

    {% include "partial/footer.html" %}
</div>
<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/popper/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-material-design.min.js' %}"></script>
<script>
        $(document).ready(function() { $('body').bootstrapMaterialDesign(); });

</script>
</body>
</html>