{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ config.COMPANY_NAME }} | Service Status Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="icon" href="favicon.ico">
</head>
<body>
<div class="">
    {% include "partial/nav.html" %}

    <section class="py-5">
        <div class="container">
            <h2 class="mb-4 text-center">Current Incidents</h2>
            {% if active %}
                {% include "partial/incidents.html" with incidents=active%}
            {% else %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">All services running!</h4>
                    <p>There currently no known incidents with our systems</p>
                </div>
            {% endif %}
        </div>
    </section>

    <div class="container text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>
    </div>

    <section class="py-5">
        <div class="container">
            <h2 class="text-center">Current Service Status</h2>
            {% include "partial/services.html" with services=services %}
        </div>
    </section>

    <div class="container text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>
    </div>

    <section class="py-5">
        <div class="container">
            <h2 class="mb-4 text-center">Past Incidents</h2>
            {% if closed %}
            {% include "partial/incidents.html" with incidents=closed %}
            {% else %}
            <div class="alert alert-secondary" role="alert">
                <h4 class="alert-heading">Good News ...</h4>
                <p>There are not past incidents!</p>
            </div>
            {% endif %}

        </div>
    </section>

    <div class="container text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>
    </div>

    {% include "partial/footer.html" %}
</div>
<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/popper/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-material-design.min.js' %}"></script>
<script>
        $(document).ready(function() { $('body').bootstrapMaterialDesign(); });

</script>
</body>
</html>